body{
    background: url("./assets/tesla.jpg");
    width: 100%;
    background-size: cover;
}
h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 5px;
}
    
#apr{
    color: white;
    text-align: center;
    margin: 50px ;
    padding-bottom: 50px;
    
}
.main_container{
    text-align: center;
    color: white;
}
.main_link a{
    border: 1px solid black;
    padding: 10px 60px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 10px;
    

}

.main_link{
    margin: 40px;
}
#link1{
    background-color:blue;
    color: white;
}
#link2{
    background-color: #fff;
    color:black
}
